img {
	max-width: 100%;
	height: auto;
}
p {
	letter-spacing: 0.05em;
}
@media (min-width: 992px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 900;
	}
}
.filled-btn :hover {
	background: $accent-300;
	color: #fff;
}
