<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
			/>
		<title>index</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<div class="banner">
			<div class="container">
				<div class="py-lg-10 position-relative">
					<picture>
						<source
							media="(min-width: 992px)"
							srcset="../assets/images/banner.png"
						/>
						<img
							src="../assets/images/banner-sm.png"
							alt="banner"
							class="w-100"
						/>
					</picture>
					<div
						class="position-absolute top-50 end-50 translate-middle-y text-white"
					>
						<div class="mb-4">
							<h5 class="fs-lg-5 fs-6 mb-lg-2 mb-1">
								獻給新世代的生活風格誌
							</h5>
							<h1 class="fs-lg-1 fs-3">一起探索生活的無限可能</h1>
						</div>
						<button
							class="btn btn-accent-200 fs-lg-5 fs-6 px-lg-5 px-4 py-lg-3 py-2"
							type="button"
						>
							馬上訂閱
							<i class="bi bi-arrow-right ms-2"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="theme">
			<div class="container">
				<div class="py-lg-10 py-8">
					<h2 class="text-neutral-500 mb-5">熱門主題</h2>
					<div class="row g-lg-5 g-1">
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-1.png"
									/>
									<img
										src="../assets/images/theme-1-sm.png"
										alt="theme-1"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										城市漫遊者
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-2.png"
									/>
									<img
										src="../assets/images/theme-2-sm.png"
										alt="theme-2"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										秘境尋蹤人
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-3.png"
									/>
									<img
										src="../assets/images/theme-3-sm.png"
										alt="theme-3"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										品味設計家
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-4.png"
									/>
									<img
										src="../assets/images/theme-4-sm.png"
										alt="theme-4"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										美食探險記
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-5.png"
									/>
									<img
										src="../assets/images/theme-5-sm.png"
										alt="theme-5"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										美學建築誌
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-6.png"
									/>
									<img
										src="../assets/images/theme-6-sm.png"
										alt="theme-6"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										慢活生活行
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-7.png"
									/>
									<img
										src="../assets/images/theme-7-sm.png"
										alt="theme-7"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										工藝匠心賞
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card text-white theme-card">
								<picture>
									<source
										media="(min-width: 992px)"
										srcset="../assets/images/theme-8.png"
									/>
									<img
										src="../assets/images/theme-8-sm.png"
										alt="theme-8"
										class="card-img"
									/>
								</picture>
								<div
									class="card-img-overlay d-flex justify-content-center align-items-center"
								>
									<h5 class="card-title fs-lg-5 fs-6">
										時尚先鋒派
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article">
			<div class="container">
				<div
					class="row d-flex flex-sm-column flex-lg-row justify-content-lg-between py-lg-10 py-8"
				>
				<div class="col-lg-4">
					<h2 class="mb-5">精選文章</h2>
				</div>
				<div class="col-lg-8">
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card border-0">
									<img src="../assets/images/articles-1.png" class="card-img-top"
									alt="articles-1">
									<div class="card-body">
										<h5 class="card-title text-neutral-500">
											私人島嶼的露營奇遇記
										</h5>
										<p class="card-text text-neutral-400">
											遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
										</p>
									</div>
									<div class="card-body border-bottom border-neutral-500">
										<a
											href="#"
											class="card-link text-accent-200 fs-5"
											>Read More</a
										>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card border-0">
									<img src="../assets/images/articles-2.png" class="card-img-top" alt="articles-2">
									<div class="card-body">
										<h5 class="card-title text-neutral-500">
											窺探米其林三星主廚的絕密手藝
										</h5>
										<p class="card-text text-neutral-400">
											在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
										</p>
									</div>
									<div
										class="card-body d-flex justify-content-between border-bottom border-neutral-500"
									>
										<a
											href="#"
											class="card-link text-accent-200 fs-5"
											>Read More</a
										>
										<span
											class="badge bg-primary-300 text-primary-400"
											>會員專屬</span
										>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	</body>
</html>
